<div class="card">
    <div class="card-header small font-weight-bold bg-white position-relative">
      <svg class="svg-inline--fa fa-bullhorn fa-fw text-primary mr-1" aria-hidden="true" focusable="false" data-prefix="far" data-icon="bullhorn" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M432 73.9L421.3 84.6C364.5 141.4 288.1 174 208 175.9v.1V304v0 .1c80.1 1.9 156.5 34.5 213.3 91.3L432 406.1V73.9zM160 128h40.7c70 0 137.2-27.8 186.7-77.3l38-38C445.5-7.5 480 6.8 480 35.3V179.6c18.6 8.8 32 32.5 32 60.4s-13.4 51.6-32 60.4V444.7c0 28.5-34.5 42.8-54.6 22.6l-38-38c-47.8-47.8-112-75.4-179.4-77.2V456c0 30.9-25.1 56-56 56H120c-30.9 0-56-25.1-56-56l0-104c-35.3 0-64-28.7-64-64V192c0-35.3 28.7-64 64-64h96zM112 352V456c0 4.4 3.6 8 8 8h32c4.4 0 8-3.6 8-8V352H112zM64 176c-8.8 0-16 7.2-16 16v96c0 8.8 7.2 16 16 16l0 0h48 48V176l-96 0z"></path></svg><!-- <i class="far fa-fw fa-bullhorn text-primary mr-1"></i> --><a class=" stretched-link" href="/informations">お知らせ</a>
    </div>
    <div class="card-body">
      <div class="media small">
        <div class="media-left text-nowrap mr-2">2022.08.25</div>
        <div class="media-body">
            <a class="text-body" href="/informations/60">test</a>
        </div>
      </div>
          <div class="media small">
        <div class="media-left text-nowrap mr-2">2022.08.25</div>
        <div class="media-body">
            <a class="text-body" href="/informations/59">ttttt</a>
        </div>
      </div>
          <div class="media small">
        <div class="media-left text-nowrap mr-2">2022.08.24</div>
        <div class="media-body">
            <a class="text-body" href="/informations/58">かかかかかかかかかかかかかかかかかかかかかかかかかかかか</a>
        </div>
      </div>
          <div class="media small">
        <div class="media-left text-nowrap mr-2">2022.08.24</div>
        <div class="media-body">
            <a class="text-body" href="/informations/57">うううううう</a>
        </div>
      </div>
          <div class="media small">
        <div class="media-left text-nowrap mr-2">2022.08.24</div>
        <div class="media-body">
            <a class="text-body" href="/informations/55">おおおおおおおおお</a>
        </div>
      </div>
          <div class="media small">
        <div class="media-left text-nowrap mr-2">2022.08.24</div>
        <div class="media-body">
            <a class="text-body" href="/informations/54">あああああああああああ</a>
        </div>
      </div>
          <div class="media small">
        <div class="media-left text-nowrap mr-2">2022.08.24</div>
        <div class="media-body">
            <a class="text-body" href="/informations/53">fdsgdhfjgfgdsda</a>
        </div>
      </div>
          <div class="media small">
        <div class="media-left text-nowrap mr-2">2022.08.24</div>
        <div class="media-body">
            <a class="text-body" href="/informations/52">tttttsfagfhgjhjfdsagdhf</a>
        </div>
      </div>
          <div class="media small">
        <div class="media-left text-nowrap mr-2">2022.08.23</div>
        <div class="media-body">
            <a class="text-body" href="/informations/44">dddd</a>
        </div>
      </div>
          <div class="media small">
        <div class="media-left text-nowrap mr-2">2022.08.23</div>
        <div class="media-body">
            <a class="text-body" href="/informations/51">rっっf</a>
        </div>
      </div>
          <div class="media small">
        <div class="media-left text-nowrap mr-2">2022.08.23</div>
        <div class="media-body">
            <a class="text-body" href="/informations/50">title画像テスト</a>
        </div>
      </div>
          <div class="media small">
        <div class="media-left text-nowrap mr-2">2022.08.23</div>
        <div class="media-body">
            <a class="text-body" href="/informations/49">画像テスト</a>
        </div>
      </div>
          <div class="media small">
        <div class="media-left text-nowrap mr-2">2022.08.23</div>
        <div class="media-body">
            <a class="text-body" href="/informations/46">ttt</a>
        </div>
      </div>
          <div class="media small">
        <div class="media-left text-nowrap mr-2">2022.08.23</div>
        <div class="media-body">
            <a class="text-body" href="/informations/45">title</a>
        </div>
      </div>
          <div class="media small">
        <div class="media-left text-nowrap mr-2">2022.08.23</div>
        <div class="media-body">
            <a class="text-body" href="/informations/42">タイトルタイトルタイトルタイトル</a>
        </div>
      </div>
          <div class="media small">
        <div class="media-left text-nowrap mr-2">2022.08.22</div>
        <div class="media-body">
            <a class="text-body" href="/informations/43">タイトルを入力してください。</a>
        </div>
      </div>
          <div class="media small">
        <div class="media-left text-nowrap mr-2">2022.08.22</div>
        <div class="media-body">
            <a class="text-body" href="/informations/47">タイトル</a>
        </div>
      </div>
          <div class="media small">
        <div class="media-left text-nowrap mr-2">2022.08.22</div>
        <div class="media-body">
            <a class="text-body" href="/informations/48">t</a>
        </div>
      </div>
          <div class="media small">
        <div class="media-left text-nowrap mr-2">2022.08.05</div>
        <div class="media-body">
            <a class="text-body" href="/informations/37">sssssssss</a>
        </div>
      </div>
          <div class="media small">
        <div class="media-left text-nowrap mr-2">2022.08.04</div>
        <div class="media-body">
            <a class="text-body" href="/informations/38">タイトルタイトルタイトル</a>
        </div>
      </div>
          <div class="media small">
        <div class="media-left text-nowrap mr-2">2022.07.26</div>
        <div class="media-body">
            <a class="text-body" href="/informations/36">sdfgh</a>
        </div>
      </div>
          <div class="media small">
        <div class="media-left text-nowrap mr-2">2022.04.26</div>
        <div class="media-body">
            <a class="text-body" href="/informations/22">dsafsgdf</a>
        </div>
      </div>
          <div class="media small">
        <div class="media-left text-nowrap mr-2">2022.01.24</div>
        <div class="media-body">
            <a class="text-body" href="/informations/19">jjaaっっw</a>
        </div>
      </div>
          <div class="media small">
        <div class="media-left text-nowrap mr-2">2022.01.24</div>
        <div class="media-body">
            <a class="text-body" href="/informations/21">test</a>
        </div>
      </div>
          <div class="media small">
        <div class="media-left text-nowrap mr-2">2021.02.24</div>
        <div class="media-body">
            <a class="text-body" href="/informations/16">aw2036adsad</a>
        </div>
      </div>
          <div class="media small">
        <div class="media-left text-nowrap mr-2">2021.02.23</div>
        <div class="media-body">
            <a class="text-body" href="/informations/12">a</a>
        </div>
      </div>
          <div class="media small">
        <div class="media-left text-nowrap mr-2">2021.02.22</div>
        <div class="media-body">
            <a class="text-body" href="/informations/11">a</a>
        </div>
      </div>
          <div class="media small">
        <div class="media-left text-nowrap mr-2">2021.02.21</div>
        <div class="media-body">
            <a class="text-body" href="/informations/15">fds</a>
        </div>
      </div>
          <div class="media small">
        <div class="media-left text-nowrap mr-2">2021.02.21</div>
        <div class="media-body">
            <a class="text-body" href="/informations/13">w</a>
        </div>
      </div>
          <div class="media small">
        <div class="media-left text-nowrap mr-2">2021.02.21</div>
        <div class="media-body">
            <a class="text-body" href="/informations/8">メンテナンス</a>
        </div>
      </div>
          <div class="media small">
        <div class="media-left text-nowrap mr-2">2020.09.08</div>
        <div class="media-body">
            <a class="text-body" href="/informations/17">d</a>
        </div>
      </div>
    </div>
  </div>